* {
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display", serif;
}
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 8rem;
  width: 100%;
  color: white;
  z-index: 15;
  transition: all ease 300ms;
  a {
    color: white;
  }

  i:hover {
    cursor: pointer;
  }
  &:hover {
    color: black;
    background-color: white;
    transition: all ease 300ms;
    a {
      color: black;
    }

    .btn {
      background-color: black;
      color: white;
    }
    .navTop {
      border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    }
    .navBottom {
      color: rgb(82, 82, 82);
      a:hover {
        color: black;
      }
    }
  }
  .btn {
    background-color: white;
    color: black;
  }
  .navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 1.5rem 0 1.5rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.315);
    .contact {
      i {
        padding: 0 10px;
      }
    }
  }
  .navBottom {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 6px;
    span {
      padding: 0 1rem;
      font-weight: bold;
    }
  }
}
.alt-color {
  color: black;
  background-color: white;
  transition: all ease 300ms;
  .btn {
    background-color: black;
    color: white;
  }
  .navTop {
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
  }
  .navBottom {
    color: rgb(82, 82, 82);
    a:hover {
      color: black;
    }
  }
}

/* Tablet Mobile View, may ant to use seperate  */
@media only screen and (max-width: 768px) {
  .Navbar {
    display: none;
  }
}

/* Tablet/Mobile */

.NavMobile {
  i:hover {
    cursor: pointer;
  }
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 5rem;
  width: 100%;
  color: white;
  z-index: 15;
  transition: all ease 300ms;
  .menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .hamburger-menu {
      i {
        font-size: 1.6rem;
      }
    }
  }
  .menu-bottom {
    position: absolute;
    left: -100%;
    background-color: white;
    width: 100%;
    color: black;
    transition: all ease 300ms;
    box-shadow: 0px 21px 17px -20px #00000091;
    .contact {
      i {
        padding-right: 12px;
      }
    }
    ul {
      li {
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
        padding: 1rem 0;
      }
    }
  }
}
.menu-active {
  color: black;
  background-color: white;
  transition: all ease 300ms;

  .btn {
    background-color: black;
    color: white;
  }
  .mobile-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
  }
}
.alt-color {
  color: black;
  background-color: white;
  transition: all ease 300ms;
  a {
    color: black;
  }
  .btn {
    background-color: black;
    color: white;
  }
  .navTop {
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
  }
  .navBottom {
    color: rgb(82, 82, 82);
    a:hover {
      color: black;
    }
  }
}
.show-menu {
  left: 0 !important;
  transition: all ease 300ms;
}
@media (hover: hover) and (pointer: fine) {
  .NavMobile:hover {
    color: black;
    background-color: white;
    transition: all ease 300ms;

    .btn {
      background-color: black;
      color: white;
    }
    .mobile-top {
      border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    }
  }
}
@media only screen and (max-width: 768px) {
  .NavMobile {
    display: block;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .NavMobile {
    .menu-top {
      .brand {
        h1 {
          font-size: 14px;
        }
      }
      .btn {
        padding: 12px;
      }
    }
  }
}
.alt-font {
  font-family: "Playfair Display", serif;
  text-decoration: none !important;
  font-weight: 1000;
}
a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

.bg {
  background-image: url(../public/lake2.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex !important;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  & > h1 {
    font-family: "Playfair Display", serif;
    color: azure;
    font-size: clamp(1rem, 5vw, 3.5rem);
  }
}

// button
.c-button {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #06c8d9;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #06c8d9;
  border-radius: 50px;
  position: relative;
  transition: all 700ms ease;
  overflow: hidden;
}

.bg{
  h1{
    background-image: url("/images/cloud.jpeg");
  background-size: cover;
  background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px aliceblue;
  font-size: 5rem;
  }
}
.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #06c8d9;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}
.btn-cnt {
  display: flex;
  position: relative;
  top: 87%;
  justify-content: center;
  width: 100%;
}

// HOME
.container {
  margin: 2rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  p {
    color: rgba(0, 0, 0, 0.685);
    align-self: center;
    width: 60%;
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
  }
  h1 {
    color: rgba(0, 0, 0, 0.823);
    font-size: 3rem;
    font-family: "Playfair Display", serif;
  }
}
.header {
  height: 650px;
}
.btn-more {
  height: 2.4rem;
  color: rgba(0, 0, 0, 0.823);
  width: 6rem;
  font-size: 1.4rem;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.779);
    color: #fff;
    cursor: pointer;
  }
}

.container-2 {
  display: flex;
  gap: 3rem;
  margin-top: 5rem !important;
  width: 80%;
  margin: auto;
  transition: all 0.2s ease-in-out;
  .txtcont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 70%;
    font-family: "Playfair Display", serif;

    p {
      text-align: center;
      font-size: 1.1rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    button {
      font-size: 1rem !important;
      width: 8rem;
      font-weight: 600;
    }
  }

  .imgcont {
    background-image: url("../public/naini.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    height: 360px;
    border-radius: 40px;
  }
  &:hover {
    transform: scale(1.08);
  }
}

//map content
.mapcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem !important;
  margin: auto;
  width: 80vw;
  .maptxt {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    p {
      font-size: 1.2rem;
      font-weight: 500;
      margin: auto;
    }
    h1 {
      font-size: 3rem;
    }
  }
  .mapfr {
    border-radius: 20px !important;
  }
}

//room
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
  gap: 3rem;
  h1 {
    font-size: 3.5rem;
  }
  .textcontphoto {
    display: flex;
    font-size: 1.3rem;
    flex-direction: row !important;
    align-self: center;
    text-align: center;
    gap: 2rem;
  }
  .amen {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 5rem;
    align-items: center;
    h1 {
      font-size: 3.5rem;
    }
    .icons {
      display: grid;
      gap: 4rem;
      font-size: 2.5rem;
      grid-template-columns: auto auto auto;
    }
  }
  i {
    display: block;
  }
  span {
    font-size: 1.2rem;
  }
  .ic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

//media tags
@media (max-width: 750px) {
  body {
    p {
      font-size: 0.95rem ;
      width: 90% ;
    }
  }
  .header {
    height: 800px !important;
  }
  .btn-cnt {
    top: 77%;
  }
  .bg {
    height: 750px;
    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }
  .alt-font {
    font-size: 1.5rem !important;
  }
  .container-2 {
    flex-direction: column-reverse;

    .txtcont {
      align-self: center;
      width: 90% !important;
    }
    p {
      font-size: 1rem !important;
    }
    h3 {
      font-size: 1.3rem !important;
      text-align: center;
    }
    .imgcont {
      width: 100% !important;
      height: 41.6vh !important;
      border-radius: 30px;
    }
  }
  .mapfr {
    height: 250px;
    width: 350px;
  }
}

@media screen and (max-width: 600px) {
  .mapcont{
    .maptxt{
      p{
        width:92%;
      }
    }
  }
  .container{
    p{
      width: 92% !important;
    }
  }
  .abt-grid{
    .step{
      p{
        width: 100% !important;
      }
    }
  }
  .bg{
    background-image: url(../public/lakemob.jpg);
    background-position: center center;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

//contact
.contact-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 5rem auto;
  box-shadow: 0px 0px 6px 1px #000;

  border-radius: 20px;
  overflow: hidden;

  form {
    margin: 2rem 0;
    button {
      border-radius: 20px;
    }
    input {
      border-radius: 20px;
    }
  }
  .contact-us {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      position: absolute;
      text-shadow: 0 0 4px #166daf;
      color: #65acea;
    }
    .imgg {
      background-image: url("/images/contact.jpg");
      width: 100%;
      background-size: cover;
      height: 10rem;
      background-position-y: center;
    }
  }
}
.ic {
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.Navbar {
  h1 {
    span {
      font-size: 0.9rem !important;
      display: block;
    }
  }
}

.brand {
  h1 {
    span {
      display: block;
      font-size: 0.8rem !important;
    }
  }
}

//about
.abt {
  display: flex;
  // grid-template-columns: auto auto;
  place-content: center;
  width: 90%;
  flex-wrap: wrap;
  margin: 2rem auto;
  gap: 2rem;
  h1 {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 3rem;
  }
  p{
    text-align: center;
  }
}

//foot
.foot {
  height: 12rem;
  display: flex;
  background-color: #000000de;
  align-items: center;
  margin-top: 7rem;
  justify-content: space-between;
  p{
    text-align: center;
    width: 19rem;
    color: white;
    font-size: 1.3rem;
  }
  .call {
    color: white;
    text-align: center;
  }
  .logo{
    img{
      height: 11.5rem;
    }
  }
}

@media screen and (max-width: 420px) and (max-height: 830px) {
  .contact-cont {
    width: 90%;
  }
  .bg {
    height: 620px !important;
  }
  .container-2 {
    .imgcont {
      height: 216px !important;
    }
  }
}

@media screen and (max-width: 420px) {
  .contact-cont {
    width: 85%;
  }
  .btn-cnt {
    top: 88%;
  }
  .icons {
    grid-template-columns: auto auto !important;
  }
  .abt {
    grid-template-columns: auto;
    margin-top: -4rem;
    column-gap: 0rem;
    p {
      grid-column: 1/2;
      place-self: center;
      text-align: center;
    }
  }
}
@media screen and (max-width: 390px) {
  .contact-cont {
    width: 90%;
  }
  .btn-cnt {
    top: 71%;
  }
  .icons {
    grid-template-columns: auto auto !important;
  }
  .foot{
    height: 9rem;
    gap: 1rem;
    padding: 0 .5rem;
    h3{
          font-size: .7rem;
    }
    p{
      font-size: .7rem !important;
      width: 5rem!important;
    }
    .logo{
      img{
      height: 4rem;
    }}
  }
}
.txt {
  display: flex;
  justify-content: center;
  width: 70%;
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 1.5rem;
}

//whatsapp
.whatsapp {
  position: fixed;
  top: 42%;
  left: -90px;
  height: 3.2rem;
  width: 9rem;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: rgb(170, 239, 131);
  z-index: 20;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.6rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  .txt {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
  }
  &:hover {
    left: 0;
  }
}


//about
hr{
  width: 90%;
  margin: 5rem auto;
}
.abt-grid{
  display: grid;
  width: 90%;
  margin: 6rem auto;
  h1{
    font-size: 3rem;
    text-align: center;
  }
  
  .next{
    p{
      width: 100% !important;
    }
  }
  
  .step{
    display: flex;
    padding: .5rem;
    margin-top: 3rem;
    gap: 2rem;
    background-color: #cfcece33;
    justify-content: space-evenly;
    p{
      text-align: center;
      font-size: 1.2rem;
      width: 50%;
      h1{
        font-size: 8rem;
        text-align: left;
      }
    }
    img{
    width: 100%;
    height: 30rem;
    top: -2rem;
    left: -1rem;
    position: relative;
    border-radius: 30px;
    }
  }
}


@media screen and (max-width: 430px) {
  .foot{
    gap: 1rem;
    .logo{
      img{
        height: 8.5rem;
        width: 8.5rem;
      }
    }
    .call{
      font-size: .8rem;
      width: 45%;
    }
    .text{
      font-size: .8rem !important;
      width: 60% !important;
    }
  }
  .abt{
    margin-top: 2rem;
  }
  .abt-grid{
    .step{
      flex-direction: column;
      img{
        top: 0;
        left: 0;
      }
    }
    .next{
      img{
        height: 100%;
      }
    }
  }
}
